.nav-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.tab-button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
