.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 20px; /* Espacio entre las tarjetas */
  margin: 20px;
}

@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 3 columnas en pantallas medianas */
  }
}

@media (max-width: 992px) {
  .cards-container {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 columnas en pantallas pequeñas */
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
  }
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05); /* Pequeño efecto de zoom al pasar el mouse */
}
